.space-p {
    line-height: 30px;
}

#but-sec {
    margin-top: 5px;
}

.main-portret {
    margin-top: -100px;
}

.jumbotron {
    background-color: rgb(228, 227, 227); 
}

#close-modal {
    margin-top: 8px;
}