.brand-css {
  margin-top: 0 auto;
  font-size: 25px;
}

.social-icon {
  color: #ffffff;
  padding-left: 12px;
  margin-top: 0 auto;
  font-size: 32px;
  cursor: pointer;
}

.mr-auto {
  margin-top: 5px;
  text-align: center; 
}

.icon-css {
  margin-top: 0 auto;
} 

